<div class="row align-items-center justify-content-between mb-8 mb-md-11 m-3 p-3">

          <div class="col-12 col-md-6 order-md-2 aos-init aos-animate" data-aos="fade-left">
            <h2>Upcoming Events</h2>
              <h3>Event Name : Truth about PHP</h3>
              <p>Speaker of this event : Alain Jacquet</p>
              <p>Event Date : 2023-10-03 01:04:41</p>
              <p>Event Location : Bruneau-sur-Mer</p>
          </div>
          <div class="col-12 col-md-6 col-lg-5 order-md-1 aos-init aos-animate" data-aos="fade-right">

            <!-- Card -->
            <div class="card shadow-light-lg lift lift-lg">

              <!-- Shape -->
              <div class="position-relative">
                <div class="shape shape-bottom shape-fluid-x text-white">
                  <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path></svg>                </div>
              </div>

              <!-- Body -->
              <div class="card-body">

                <!-- Form -->
                <form>
                <h2>Registration</h2>
                  <div class="form-floating">
                    <input type="text" class="form-control form-control-flush" id="cardName" placeholder="Name">
                    <label for="cardName">FirstName</label>
                  </div>
                  <div class="form-floating">
                    <input type="text" class="form-control form-control-flush" id="cardName" placeholder="Name">
                    <label for="cardName">LastName</label>
                  </div>
                  <div class="form-floating">
                    <input type="email" class="form-control form-control-flush" id="cardEmail" placeholder="Email">
                    <label for="cardEmail">Email</label>
                  </div>
                  <div class="mt-6">
                    <button class="btn w-100 btn btn-primary shadow lift me-1" type="submit">
                        Register to participate
                    </button>
                  </div>
                </form>

              </div>

            </div>

          </div>
        </div>